
<div class = "jumbotron center" >
	<h1>Wellcome to my app!!</h1>
	 <%= link_to "sign-up", "http://google.com", class: "btn btn-primary btn-lg" %> 
	 <%= link_to "Log-in", "http://google.com", class: "btn btn-success btn-lg" %> 
</div>